{% extends 'classroom/layout.html' %}

{% load static %}

{% block title %}Classroom {{classroom.name}}{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div id="assignment_info">
            <div id="info_assignment" class="container mt-3">
                <section class="highlight-container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h1 id="name_info_assignment">{{ assignment.name }}</h1>
                            <p id="description_info_assignment">
                                {% if assignment.description %}
                                    <strong>Instructions:</strong> {{ assignment.description }}
                                {% endif %}
                            </p>
                            {% if user.role == "student" %}
                                {% if grade %} 
                                    <p><strong>Grade:</strong> {{grade}}</p>
                                {% endif%}
                            {% endif %}

                            <p id="deadline_div" style="display: none;">
                                {% if assignment.deadline %}
                                    <strong>
                                        Deadline:
                                    </strong>
                                    {{ assignment.deadline_str}}
                                {% endif %}
                            </p>
                        
                        
                                <div id="links_div_out_info_assignment">
                                        <div id="links_div_in_info_assignment">
                                            {% if assignment.links %}
                                                <strong>
                                                    {% if assignment.links.count == 1 %}
                                                        Link:
                                                    {% elif assignment.links.count > 1 %}
                                                        Links:
                                                    {% endif %}
                                                </strong>
                                                {% for link in assignment.links.all %}
                                                    <a class="mb-3 text-primary d-block links_a_info_assignment" data-id="{{ link.id }}" href="{{ link.url }}" target="_blank">
                                                        <i class="fas fa-link"></i> {{ link.url }}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                </div>
                           
                                <div id="files_div_out_info_assignment">
                                        <div id="files_div_in_info_assignment">
                                            {% if assignment.files %}
                                                <strong>
                                                    {% if assignment.files.count == 1 %}
                                                        File:
                                                    {% elif assignment.files.count > 1 %}
                                                        Files:
                                                    {% endif %}
                                                </strong>
                                                {% for file in assignment.files.all %}
                                                    <a class="mb-3 text-primary d-block files_a_info_assignment" data-id="{{ file.id }}" href="/media/{{ file.file }}" target="_blank">
                                                        <i class="fas fa-file"></i> {{ file.short_url }}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>  
                                </div>

                            {% if user.role == "teacher" %}
                                <button id="edit_button_assignment" class="btn btn-primary" style="margin-top: 10px;">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            {% if user.role == "student" %}
                {% if assignment.type == "assignment" and not has_submited %}
                    <div class="container mt-5">
                        <div class="highlight-container" id="submit_form" style="display: none;">
                                <div class="inner-container" >
                                    <h1 class="">Submit Assignment</h1>
                                    <div class="form-group">
                                        <p style="display: inline-block; margin-right: 10px;"><strong>Message:</strong></p>
                                        <textarea id="message_form_submit" class="form-control" rows="3" placeholder="Enter Message"></textarea>
                                    </div>
                                    <form method="POST" id="submit_assignment_files" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label>Files:</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="submit_assignment_file_input" multiple="" name="files">
                                            <label class="custom-file-label" for="create_assignment_file_input">Choose Files</label>
                                        </div>
                                        <div id="selected-files-assignment-submit" class="mt-2"></div>
                                    </form>
                                    <button id="clear-files-assignment-submit" class="btn btn-danger mt-3">Clear All</button>
                                    
                                    <br>
                                    <br>
            
                                    <div class="form-group">
                                        <label for="submit_assignment_link">Links:</label>
                                        <input type="text" class="form-control" id="submit_assignment_link" placeholder="Enter Link">
                                        <br>
                                        <button type="button" class="btn btn-info" id="add_submit_assignment_link">Add Link</button>
                                    </div>
                                    <div class="form-group" id="submit_assignment_links">
                                    </div>
        
                                    <input id="save_button_submit_assignment" type="submit" class="btn btn-primary" value="Submit">
                                    <button type="button" class="btn btn-secondary" id="close_button_submit_assignment" data-dismiss="modal">Close</button> 
                                </div>
                            </div>
                    </div>
               

                <div class="container mt-5">
                    <div class="highlight-container" id="submited">
                        <div class="inner-container">
                            
                            <h2>My Submitted Assignments</h2>
                            {% if not has_submitted %}
                                <button id="submit_button_submit" class="btn btn-primary" style="margin-top: 10px;">Submit Assignment</button>
                            {% endif %}
                            
                            {% if has_submitted %}
                            <br>
                                <ul class="list-group container" id="submits_list">
                                    
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if assignment.type == "assignment" and not has_submited %}
                <div id="submit_edit_form" class="container mt-5" style="display: none;" >
                    <section class="highlight-container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="form-group">
                                    <p style="display: inline-block; margin-right: 10px;"><strong>Message:</strong></p>
                                    <textarea id="message_submit_edit_form" class="form-control" rows="3" placeholder="Enter Instructions">{% if assignment.description %}{{ assignment.description }} {% endif %}</textarea>
                                </div>
                        
                                
                                <div class="form-group" id="existing_files_submit_edit_form">
                                    <label>Existings Files:</label>
                                </div>

                                <form method="POST" id="files_submit_edit_form" enctype="multipart/form-data">
                                    <label>New Files:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file_input_submit_edit_form" multiple name="files">
                                        <label class="custom-file-label" for="file_input_submit_edit_form">Choose Files</label>
                                    </div>
                                    <div id="selected-files-submit-edit-form" class="mt-2"></div>
                                </form>
                                <button id="clear-files-submit-edit-form" class="btn btn-danger mt-3">Clear All</button>
                                
                        
                                <br>
                                <br>
                                <div class="form-group" id="existing_links_submit_edit_form">
                                    <label>Existings Links:</label>
                                </div>
                                <div class="form-group">
                                    <label for="link_submit_edit_form">New Links:</label>
                                    <input type="text" class="form-control" id="link_submit_edit_form" placeholder="Enter Link">
                                    <br>
                                    <button type="button" class="btn btn-info" id="add_link_submit_edit_form">Add Link</button>
                                </div>
                                <div class="form-group" id="links_submit_edit_form">
                                </div>

                            </div>
                        </div>
                        <input id="save_button_submit_edit_form" type="submit" class="btn btn-primary" value="Save">
                        <button type="button" class="btn btn-secondary" id="close_button_submit_edit_form" data-dismiss="modal">Close</button> 
                    </section>
                </div>
                {% endif %}

                
            {% endif %}

            {% if user.role == "teacher" %}
                <div id="form_assignment" class="container mt-5" style="display: none;" >
                    <section class="highlight-container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="form-group">
                                    <p style="display: inline-block; margin-right: 10px;"><strong>Name:</strong></p>
                                    <input value="{{ assignment.name }}" id="name_form_assignment" class="form-control" type="text" placeholder="Enter Name"> 
                                </div>

                                <div class="form-group">
                                    <p style="display: inline-block; margin-right: 10px;"><strong>Instructions:</strong></p>
                                    <textarea id="description_form_assignment" class="form-control" rows="3" placeholder="Enter Instructions">{% if assignment.description %}{{ assignment.description }} {% endif %}</textarea>
                                </div>
                                {% if  assignment.type == "assignment" %}
                                    <div class="form-group">
                                        <label for="deadline-assginment-edit">Deadline:</label>
                                        <input type="datetime-local" name="deadline"  class="form-control" id="deadline-assginment-edit">
                                        <p>
                                            <input type="checkbox" id="nodeadline" name="fav_language" value="nodeadline">
                                            <label for="nodeadline">Without Deadline</label>
                                        </p>
                                    </div>     
                                {% endif %}                        
                                
                                <div class="form-group" id="create_existing_assignment_files">
                                    <label>Existings Files:</label>
                                </div>

                                <form method="POST" id="create_assignment_files" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label>New Files:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="create_assignment_file_input" multiple name="files">
                                        <label class="custom-file-label" for="create_assignment_file_input">Choose Files</label>
                                    </div>
                                    <div id="selected-files-assignment" class="mt-2"></div>
                                </form>
                                <button id="clear-files-assignment" class="btn btn-danger mt-3">Clear All</button>
                                
                        
                                <br>
                                <br>
                                <div class="form-group" id="create_existing_assignment_links">
                                    <label>Existings Links:</label>
                                </div>
                                <div class="form-group">
                                    <label for="create_assignment_link">New Links:</label>
                                    <input type="text" class="form-control" id="create_assignment_link" placeholder="Enter Link">
                                    <br>
                                    <button type="button" class="btn btn-info" id="add_assignment_link">Add Link</button>
                                </div>
                                <div class="form-group" id="create_assignment_links">
                                </div>

                            </div>
                        </div>
                        <input id="save_button_assignment" type="submit" class="btn btn-primary" value="Save">
                        <button type="button" class="btn btn-secondary" id="close_button_assignment" data-dismiss="modal">Close</button> 
                        <input type="submit" id="delete_button_assignment" class="btn btn-danger float-right" value="Delete">  
                    </section>
                </div>

                {% if  assignment.type == "assignment" %}
                    <div class="container mt-5">
                        <div class="highlight-container" id="submited">
                            <div class="inner-container">
                                <h1>Student's Submitted Assignments</h1>
                                <br>
                                <ul class="list-group container" id="submits_list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div id="form_grade_submit" class="container mt-5" style="display: none;">
                        <section class="highlight-container">
                            <div class="row">
                                <div class="inner-container">
                                    <div class="col-lg-11" id="inner_grade_submit">
                                        <h2> Grade Student's Submitted Assignments</h2>
                                        <br>
                                        <div class="highlight-container">
                                            <p style="display: none;" id="student_id"></p>
                                            <div class="form-group">
                                                <h4 style="display: inline-block; margin-right: 10px;" id="name_submit"></h4>
                                            </div>

                                            <div class="form-group">
                                                <p style="display: inline-block; margin-right: 10px;" id="time_submit"></p>
                                            </div>
            
                                            <div class="form-group">
                                                <h5 style="display: inline-block; margin-right: 10px;" id="message_submit"></h5>
                                            </div>

                                            
                                            
                                            <div class="form-group" id="link_submit">
                                            </div>

                                            <div class="form-group" id="files_submit">
                                            </div>

                                        </div>

                                        

                                        <div class="form-group" id="comment_from_teacher_submit">
                                            <br>
                                            <p style="display: inline-block; margin-right: 10px;"><strong>Comment:</strong></p>
                                            <textarea id="comment_form_submit" class="form-control" rows="3" placeholder="Enter Comment"></textarea>
                                        </div>

                                        <div class="form-group" id="comment_from_teacher_submit">
                                            <p style="display: inline-block; margin-right: 10px;"><strong>Grade:</strong></p>
                                            <input type="number" id="grade_submit" class="form-control" min="0" max="100" placeholder="Enter Grade">
                                        </div>
                                        <input id="grade_button_submit" type="submit" class="btn btn-primary" value="Grade">
                                        <button type="button" class="btn btn-secondary" id="close_button_submitt_grade" data-dismiss="modal">Close</button> 
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                {% endif %}
            {% endif %}
        </div>
            
    </div>

    

{% if user.role == "teacher" %}
    {% if assignment.type == "assignment" %}
        <script src="{% static 'classroom/teacher_assignment.js' %}"></script>
    {% elif assignment.type == "material" %}
        <script src="{% static 'classroom/teacher_material.js' %}"></script>
    {% endif %}
{% endif %}

{% if user.role == "student" %}
    {% if not has_submitted %}
        <script src="{% static 'classroom/student_create.js' %}"></script>             
    {% else %}
        <script src="{% static 'classroom/student.js' %}"></script> 
    {% endif %}
{% endif %}

{% endblock %}


