{% extends 'classroom/layout.html' %}

{% block title %}Classroom{% endblock %}

{% block main %}

<header>
    <h1>Welcome to my CS50W Final Project <i class="fas fa-globe"></i></h1>
</header>

<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <p>
                For this project, I decided to implement a site for distance learning.
            </p>
            <p>
                To familiarize yourself with the functionality and start working with the site, register or log in
            </p>
            <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register <i class="fas fa-user-plus"></i></a>
            <a class="btn btn-primary" href="{% url 'accounts:login' %}">Log in <i class="fas fa-user-plus"></i></a>
            <br>
            <br>
            <p> Good luck! </p>
        </div>
    </div>
</div>

{% endblock %}