body {
    background-color: #f0f0f0;
}

header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.main-content {
    text-align: center;
    padding: 20px;
}


.alert {
    z-index: 101;
    position: relative;
}

.navbar {
    position: relative;
    z-index: 100;
}

.row_user {
    height: 25px;
    font-size: 18px;
}

ul#classrooms li {
    margin-bottom: 10px;
}

.highlight-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.animated-qrcode {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

.animated-qrcode:active {
    transform: scale(0.95); 
}

.animated-qrcode {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.animated-qrcode:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    background-color: #f0f0f0;
}

.copied-text {
    display: none; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    z-index: 2;
}

.pointer {
    cursor: pointer;
}

#classroom_list {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(119, 119, 119, 0.2);
}

h1.mt-5 {
    font-size: 37px;
    color: #333;
}

.inner-container {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 31px;
    color: #333;
    margin: 0;
}

li p {
    font-size: 16px;
    color: #777;
    margin: 5px 0;
}

#info_classroom p{
    font-size: 17px;
    color: #5e5e5e;
    margin: 5px 0;
}

#info_assignment strong{
    font-size: 17px;
    color: #5e5e5e;
    margin: 5px 0;
}

.user-icon {
    width: 12rem;
    height: 12rem; 
    color: #000000; 
}

.custom-icon {
    font-size: 12rem; 
    color: #000000; 
}

.user-icon-small {
    width: 2rem;
    height: 2rem; 
    color: #000000; 
}

.custom-icon-small {
    font-size: 2rem; 
    color: #000000; 
}
